* {font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0px 5%;
    background-color: lightslategray;
    display: flex;
    height: 100vh;
    flex-direction: column;
    
}



header {
    background-color: #1F2937;
    /* max-width: 75%; */
    display: flex;
   justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    
    
}
.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    margin:0 5px;
}

ul {
    list-style: none;
    color: #E5E7EB;
    display: flex;
    font-size: 18px;

    margin:0 5px 0 5px;
    padding: 5px;
}

.row1 {
    background-color: #1F2937;
    /* max-width: 75%; */
    display: flex;
    flex: 1 1 0px;
    padding: 50px 100px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.content {
color: #F9FAF8;
display: flex;
flex-direction: column;
}

#img1 {
    width: 350px;
    height: 150px;

}

#btn1 {color: # 3882F6;
}

.row2 {
    background-color: white;
    /* max-width: 75%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    flex: 1 1 0px;
}

#header1 {
    font-size: 36px;
    color:#1F2937;
    font-weight: bold;
}

.allimg {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.imgtext {
    font-weight:100
    font-size: 22px;
    color:#1F2937;
    padding: 10px
}

.row3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

#author {
    font-size: 24px;
    font-style:normal
    color: #1f2937;
    
}

.row4 {
    background-color: rgb(0, 132, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    
}

.alltext {
    padding: 20px;
}

footer {
    background-color: #1F2937;
    justify-content: center;
    display: flex;
    
}